.header-box {
    padding-top: 1rem;
    background-color: #384a9c;
    position: fixed;
    width: 100vw;
    z-index:2000;
}

.header-box img {
    width: 200px;
    height: 100px;
}

.header-searchbar {
    color: black;
    background-color: white;
    border-radius: 2rem;
    width: 100%;
    margin-left: 0;
}

.header-signin {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-left: 2rem;
}

.second-menu-item {
    margin-top: -20px;
}

.tertiary-menu {
    padding-left: 7rem;
    padding-right: 6rem;
    background-color: white;
    border: 1px solid #dadada;
}

.tertiary-menu p {
    color: black;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top:1px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16vw;
    min-height: 20vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 10000
}
.header-signin-info{
    display: flex;
    justify-content: center;
    text-align: left;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #52a8f6;
}
.header-content-signup-button{
    text-align: center;
    width: 18vw;
    background-color: white;
    border: 1px dotted whitesmoke!important;
}
.header-signup-information-help{
    text-align: center;
}