.wrapper{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    overflow: scroll;
    width: 100vw;
    height: 65vh;
    margin: 0 auto;
    flex-wrap: wrap;
}
.menu1{
    padding-left: 2rem;
    text-align: left;
}
.menu2{
    padding-left: 4rem;
    text-align: left;
}
.menu3{
    padding-left: 4rem;
}
.wrapper h4{
    color: #535bf2;
}

