.hero-section{
    background-color: white;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.hero-section img{
    width: 80vw;
    padding-top: 1rem;
}
.wrapper-circle-items{
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
.wrapper-circle-items img{
    padding-left: 1.5rem;
    width: 11rem;
}
.body-section{
    background-color: white;
}
.test{
    width: 80vw;
    margin-left: 10rem;
}