.hero-section{
    background-color: white;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.hero-section img{
    width: 80vw;
    padding-top: 1rem;
}
.wrapper-circle-items{
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
.wrapper-circle-items img{
    padding-left: 1.5rem;
    width: 11rem;
}
.body-section{
    background-color: white;
}
.test{
    width: 80vw;
    padding-left: 4rem;
    padding-right: 5rem;
    margin-left: 1rem;
}
.react-multiple-carousel__arrow{
    background-color: deepskyblue!important;
}
.react-multiple-carousel__arrow--right {
    right: calc(1px)!important;
}
.react-multiple-carousel__arrow--left {
    margin-left: -50px!important;
    overflow: visible!important;
}
.body{
    background-color: white;
    padding-bottom: 50px;
}